name: push
on:
  push:
    branches-ignore:
      - master
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
        id: go

      - name: Check out code
        uses: actions/checkout@v1

      - name: Get dependencies
        run: go mod download

      - name: Run linters
        run: |
          PATH="${PATH}:$(go env GOPATH)/bin"
          INSTALL_SCRIPT_URL="https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh"

          curl -sSfL "${INSTALL_SCRIPT_URL}" | sh -s -- -b $(go env GOPATH)/bin v1.23.1

          make lint

      - name: Run tests
        run: make test

      - name: Run test coverage
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          PATH="${PATH}:$(go env GOPATH)/bin"

          GO111MODULE=off go get -u github.com/mattn/goveralls

          goveralls -coverprofile=coverage.out -service=github

      - name: Build binary
        run: make build

      - name: Build Docker image
        run: make image
